.contenido{
    padding: 1% 5% 5% 5%;
    margin: 1% 5% 5% 5%;
    display: flexbox;
    
    
}
#centro{
    width: 80%;
}
img{
    width: 55%;
}

#meni{
    width: 100%;
    margin: 5% 7% 5% 12%;
    padding: 5% 5% 5% 5%;
}
h2{
    font-family: fantasy;
    text-align: left;
}
h3{
    text-align: justify;
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
ul p{
    text-align: left;
}

/* Mapa */
.mapa{
    padding: 2% 2% 2% 2%;
    margin: 2% 2% 2% 2%;
    width: 95%;
}